.bubble {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background:-webkit-gradient(linear, left top, right bottom, from(#80F9B7), to(#9ABDEB));
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 25px;
}
